h1 {
color: red;
border: 1px solid black;
font-family: Roboto;
font-size:30px;
}
.header {
background: url("http://wallpapercave.com/wp/xTkHBfj.jpg") no-repeat center bottom;
position:fixed;
text-align:center;
font-family:Roboto;
font-color: Red;

}
h2 {
font-size:12px;
font-color:green;
}

