h1 {
color: green;
border: 1px solid black;
font-family: Roboto;
font-size: 30px;
}
.header {
background: url("http://wallpapercave.com/wp/xTkHBfj.jpg") no-repeat center bottom;
position: fixed;
text-align: center;
font-family: Roboto;

min-width: 1000px;
max-width: 400px;
min-height: 1000px;
overflow: scroll;
margin: 0 auto;

}
h2 {
font-size: 12px;
color: green;
}

